/* Import fonts */

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-VariableFont.ttf');
}

@font-face {
  font-family: "GreatVibes";
  src: url('../fonts/GreatVibes-Regular.ttf');
}

@font-face {
  font-family: "Baskerville";
  src: url('../fonts/BaskervvilleSC-Regular.ttf');
}