.player-form
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__button {
    width: 100%;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 8px;
    cursor: pointer;
    user-select: none;
  }

  &__title
  {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    color: white;
    user-select: none;
    margin-bottom: 16px;
  }
}