.login
{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__form-wrapper {
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 24px;

    background-color: transparent;
    background-image: linear-gradient(
      120deg,
      var(--dk-transparent-primary),
      var(--dk-transparent-secondary));
    backdrop-filter: blur(8px);
  }

  &__form-title {
    font-family: "Baskerville";
    font-size: 2rem;
    font-weight: 700;
    color: var(--dk-font);
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__form-button {
    width: fit-content;
    text-align: center;
    font-family: "Inter";
    padding: 0.5rem 2rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--dk-font);
    background-color: var(--dk-focus-primary);

    transition: all .2s ease-in-out;
    &:hover {
      color: var(--dk-focus-primary);
      background-color: var(--dk-font);
    }

    &:active {
      color: var(--dk-focus-secondary);
      background-color: var(--dk-font);
    }
  }

  &__link-wrapper {
    display: flex;
    gap: .5rem;
  }

  &__link-label {
    font-family: "Inter";
    font-size: 1.5rem;
    color: var(--dk-font);
  }

  &__link {
    font-family: "Inter";
    font-size: 1.5rem;
    color: var(--dk-font);

    transition: all .2s ease-in-out;
    &:hover {
      color: var(--dk-focus-primary);
    }

    &:active {
      color: var(--dk-focus-secondary);
    }
  }
}